<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_2team.dao.CustomerDao">
	<resultMap id="customerResult" type="Customer">
		<id property="cusNo" column="cus_no"/>
		<result property="cusName" column="cus_name"/>
		<result property="birth" column="birth"/>
		<result property="age" column="age"/>
		<result property="joinDate" column="join_date"/>
		<result property="phoneNumber" column="phone"/> 
		<result property="addr" column="addr"/>
		<result property="cTf" column="c_tf"/>
	</resultMap>

	<resultMap id="customerResultAddEmp" type="Customer" extends="customerResult">
		<association property="emp" resultMap="kr.or.dgit.it_3st_2team.dao.EmployeeDao.employeeResult"></association>
	</resultMap>
	
	<sql id="selectSql">
		select cus_no, cus_name,birth,age,join_date,phone,addr,emp_no,c_tf
		from customer
	</sql>
	
	<sql id="selectEmployee">
		select emp_name,t.title_name  from employee e join title t on e.title_no=t.title_no
	</sql> 
	
	<select id="selectAllCustomer" resultType="Customer">
		<include refid="selectSql"/>
	</select>
	
	
	
	<select id="selectAllEmployee" resultType="Employee">
		<include refid="selectEmployee"/>
	</select> 
	
	<!-- select Allcustomer, empname -->
	
	 <resultMap id="CustomerAddEmpName" type="Customer" extends="customerResult">
		<association property="emp" resultMap="kr.or.dgit.it_3st_2team.dao.EmployeeDao.empNoNameResult"></association>
	</resultMap> 
	
	<sql id="SelectCustomerSql">
		select c.cus_no,c.cus_name,c.birth,c.age,c.join_date,c.phone,c.addr,e.emp_name 
		from customer c join employee e on c.emp_no=e.emp_no
		order by cus_no
	</sql>
	<select id="SelectAllCustomerEmpName" resultMap="CustomerAddEmpName">
		<include refid="SelectCustomerSql"/>
	</select> 
	
	<!-- insert customer -->
<!-- 	<sql id="inSertCustomerSql">
		insert into customer(cus_no,cus_name,birth,age,join_date,phone,addr,emp_no,c_tf) values
			(#{cusNo},#{cusName},#{birth},#{age},#{joinDate},#{phone},#{addr},#{emp},#{cTf})
	</sql>
	
	<insert id="inSertCustomer" parameterType="Customer">
		<include refid="inSertCustomerSql"></include>
	</insert> -->
</mapper>