<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_2team.mappers.Eoff">
	<resultMap type="Eoff" id="eoffResult">
		<id property="empNo" column="emp_no"/>
		<result property="eoffDay" column="eoff_day"/>
	</resultMap>


	<resultMap id="employeeResultAddEoff" type="Employee" extends="employeeResult">
	<id property="empNo" column="emp_no"/>
		<result property="empName" column="emp_name"/>
		<result property="joinDate" column="join_date"/>
		<result property="addr" column="addr"/>
		<result property="id" column="id"/>
		<result property="password" column="password"/>
		<result property="eTf" column="e_tf"/>
	</resultMap>

</mapper>