<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_2team.dao.EventDao">
	<resultMap id="eventResult" type="Event">
		<id property="evnNo" column="evn_no"/>
		<result property="evnName" column="evn_name"/>
		<result property="discount" column="discount"/>
	</resultMap>
	
	<select id="selectAllEvent" resultMap="eventResult">	
		select evn_no,evn_name,discount from event
	</select>
	
	<sql id="insertEventsql">
		insert into Event(evn_no,evn_name,discount)
		values(#{evnNo},#{evnName},#{discount})
	</sql>
	
	<insert id="insertEvent">
		<include refid="insertEventsql" />
	</insert>
	
	
	<sql id="UpdateEventsql">
		update Event set evn_name=#{evnName},discount=#{discount}
		where evn_no=#{evnNo}
	</sql>

	<delete id="UpdateEvent">
		<include refid="UpdateEventsql"></include>
	</delete>
	
	<sql id="deleteEventsql">
		delete from Event where evn_no=#{evnNo}
	</sql>

	<delete id="deleteEvent">
		<include refid="deleteEventsql"></include>
	</delete>
	
</mapper>