<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_2team.dao.TitleDao">
	<resultMap id="TitleResult" type="Title">
		<id property="titleNo" column="title_no"/>
		<result property="titleName" column="title_name"/>
	</resultMap>
</mapper>