<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.it_3st_2team.dao.TitleDao">
	<resultMap id="TitleResult" type="Title">
		<id property="titleNo" column="title_no" />
		<result property="titleName" column="title_name" />
	</resultMap>


<!--bjh-->
	<select id="selectTitle" resultMap="TitleResult">
		select title_no,title_name
		from title
	</select>
	
	<select id="selectTitle2" resultMap="TitleResult">
		select title_name
		from title
	</select>

	<sql id="insertTitlesql">
		insert into title(title_no,title_name)
		values(#{titleNo},#{titleName})
	</sql>

	<insert id="insertTitle">
		<include refid="insertTitlesql" />
	</insert>

	<sql id="updateTitlesql">
		update Title set title_Name=#{titleName}
		where title_No=#{titleNo}
	</sql>

	<update id="updateTitle">
		<include refid="updateTitlesql"></include>
	</update>

	<sql id="deleteTitlesql">
		delete from Title where title_No=#{titleNo}
	</sql>

	<delete id="deleteTitle">
		<include refid="deleteTitlesql"></include>
	</delete>

</mapper>